<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Gestión de Proyectos</title>
</head>
<body>

    <nav>
        <ul>
            
            <li>
                <a href="/">Inicio</a>
            </li>
            
            <li>
                <a href="/tasks">Tareas</a>
            </li>           
                      
            {% if user.is_authenticated %}
            <li>
                <a href="/logout">Salir</a>
            </li>
            {% else %}
            <li>
                <a href="/signup">Registrarse</a>
            </li>
            {% endif %}

        </ul>

    </nav>

    {% block content %}
    {% endblock %}
    
</body>
</html>