{% extends 'base.html' %}

{% block content %}
 <main class="container">
    <div class="row">        
        <section class="col-md-4 offset-md-4 mt-5">
            <form action="/signin/" method="POST" class="card card-body">
                <h1 class="text-center" >Ingresar</h1>
                            {{error}}
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username">Usuario:</label>
                                <input class="form-control" type="text" name="username" id="username" placeholder="Escriba su nombre de usuario"></input>
                            </div>
            
                            <div class="mb-3">
                                <label for="password">Contraseña:</label>
                                <input class="form-control" type="password" name="password" id="password" placeholder="Escriba su contraseña"></input>
                            </div>
            
                            <button class="btn btn-primary">
                                Ingresar
                            </button>
                        
            
                </form>
        </section>
    </div>
 </main>

{% endblock content %}

